<h1 id="page_title"> About Me </h1>

<div id="about_wrapper" class="skinny_wrapper">
  <h2 class="post">Finding the unity between Development &amp; Design is what fuels my passion and drives me to create amazing experiences.</h2>
  <div class="wrapper_pic">
		<div class='round-image-50'>
			<%= image_tag("https://s3-us-west-1.amazonaws.com/codevarma-development/varma.jpg") %>
    </div>
	</div>
  <h3 class="post">Hi! This is Jampana Varma<br/>I spend most of my time coding, designing &amp; developing stuff. I work primarily with Ruby on Rails.</h3>
  <h3 class="about_list">Techs I frequently play with:</h3>
  <p>Ruby, Rails, SQL, HTML, CSS, Javascript, Haml, RSpec (testing), PostgreSQL (development, testing, production), Git, Github, Atom, Heroku, AWS S3, Adobe Photoshop (designing).</p>
  <h3 class="about_list">Other tech I like to work:</h3>
  <p>Python, SQLite, MySQL, JSON, JQuery, Bootstrap, Sublime, RubyMine, Aptana, AWS EC2 &amp; EB, Adobe After Effects, Sony Vegas Pro, Microsoft Office.</p>
  <p class="post">You can hire me through <a href="http://www.upwork.com/o/profiles/users/_~015b42f73ce39bd80a/" target="_blank">UpWork</a></p>
  <p class="post">You can see my work on <a href="http://github.com/jvssvarma" target="_blank">Github</a></p>
  <p>(Please feel free to look through my work and if you are interested in working with me don't hesitate to get in touch! You can find me speaking in 140 characters on Twitter, posting pictures on instagram and sharing some code on Github.)</p>

  <p class="post">To see my resume <a href="https://s3-us-west-1.amazonaws.com/codevarma-development/Jampana_Varma.pdf" target="_blank">click here</a></p>
  <p class="post_link"><a href="http://twitter.com/sunny_santosh" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp; <a href="http://github.com/jvssvarma" target="_blank"><i class="fa fa-github"></i></a> &nbsp; <a href="http://linkedin.com/in/jampanavarma" target="_blank"><i class="fa fa-linkedin"></i></a></p>

</div>