<h1 id="page_title">Stuff I've Built</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% @projects.each do |project| %>
		<div class="post">
			<p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
			<h2><a href="#"><%= link_to project.title, project %></a></h2>
			<div class='project-body'>
				<%= truncate(project.description, length: 150) %>
			</div>
			<hr>
		</div>
	<% end %>
</div>