.col-1, .col-2, .col-3 {
	float: left;
}

.col-1 {
	background-image: url(http://s3.amazonaws.com/codevarma/asfalt-light.png);
	background-color: #004e66;
	width: 50%;
	padding: 0 2.5%;
}

.col-2, .col-3 {
	width: 27.5%;
	padding: 0 2.5%;
}

.round-image-50 {
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    img { width: 100% };
    margin-left: auto;
    margin-right: auto
}

.center {
	position: center;
}



.homepage_content {
	h1 {
    font-size: 6rem;
		color: #000000;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 100;
	}
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: #FFFFFF;
		}
	}
	.date {
		font-size: .85em;
		margin-bottom: 2em;
		color: #dark;
	}
	p {
		margin: 0 0 .75em 0;
	}
}

.posts_content {
	background-color: #ffc952;
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: #FFFFFF;
		}
	}
	.date {
		font-size: .85em;
		margin-bottom: 2em;
		color: #34314c;
	}
	p {
		margin: 0 0 .75em 0;
	}
}


.projects_content {
	background-color: #ff7473;
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}
	a {
		text-decoration: none;
		color: $dark;
		&:hover {
			color: #FFFFFF;
		}
	}
	.date {
		font-size: .85em;
		margin-bottom: 2em;
		color: #34314c;
	}
	p {
		margin: 0 0 .75em 0;
	}
}

.about {
	padding: 0 7.5% 0 0;
	a {
		color: #FFFFFF;
		font-weight: 700;
		text-decoration: none;
	}
}

#about_wrapper {
	padding: 3em 0;
	.post {
		text-align: center;
		.date {
			font-size: .9em;
			margin: 0;
		}
		h2 {
			margin: 0;
			font-size: 2em;
			text-transform: uppercase;
			a {
        i {
          color: #000000;
        }
				text-decoration: none;
				color: #011638;
				&:hover {
					color: #000000;
				}
			}
		}
    h3 {
      margin: 0;
      font-size: 2rem;
      text-transform: none;
      text-align: center;
    }
		hr {
			margin: 3em auto;
		}
	}
  .about_list {
    margin: 3rem 0 1rem 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .post_link {
    text-align: center;
    color: #000000;
  }
}